{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        {% if user.is_authenticated %}
                            {% if user.profile.image %}
                                <img src="{{ user.profile.image.url }}" width="100">
                                <br>
                            {% else %}
                                <img src="{% static 'img/9804608.jpg' %}" width="100">
                                <br>
                            {% endif %}
                            <h5 class="card-title">{{ user.username }}</h5>
                            <p class="card-text">Welcome!</p>
                            <h6 class="card-subtitle mb-2 text-muted">Subscribers: {{ user.followee.count }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Subscribing: {{ user.follow.count }}</h6>
                            <button class="btn btn-primary"
                                    onclick="location.href='/api/profile/{{ user.username }}'">My page</button>
                        {% else %}
                            <h5 class="card-title">You are not logined!</h5>
                            <a href="/api/user/login">
                                <button class="btn btn-primary">LOGIN</button>
                            </a>
                            <p class="card-text">
                                don't have account?
                                <br>
                                <a href="/api/user/signup">sign-up now!</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="card">
                        <div class="card-body">
                            <h5>You're Subscribing...</h5>
                            <ul>
                                {% if user.follow.all.count == 0 %}<li>No one.</li>{% endif %}
                                {% for fl in user.follow.all %}
                                    <a href="/api/profile/{{ fl.username }}">
                                        <li>{{ fl.username }}</li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% comment %}<!-- 왼쪽 컬럼 -->, 팔로우 유저 표시  {% endcomment %}
            <!-- 오른 쪽 컬럼-->
            {% block new_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
