{% extends 'base.html' %}

{% block title %}
게시글 자세히보기
{% endblock %}

{% block content %}
<!-- 모달창 시작 -->
<div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit My Posting</h5>
            </div>
            <div class="modal-body">
                <form class="form-area" method="post" action="/api/posts/{{posting.id}}">
                    {% csrf_token %}
                    <div class="form-group mt-2 mb-2">
                        <label for="username">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{posting.title}}">
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <label for="content">Content:</label>
                        <textarea class="form-control" style="resize: none" name='content'
                            id="content">{{posting.content}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 모달창 끝 -->
<div class="container timeline-container">
    <div class="row">
        <!-- 왼쪽 컬럼 -->
        <div class="col-md-3">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="mt-0">{{profile.username}}</h3>
                                    <h5>Locate at</h5><span>{{profile.locate}}</span>
                                    <hr>
                                    <!-- Button trigger modal -->
                                    {% if profile.username == user %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"> Edit Profile </button>
                                    {% else %}
                                    <a href="/api/user/login">
                                        <button type="button" class="btn btn-primary">
                                            Login to Edit
                                        </button>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 오른 쪽 컬럼-->
        <div class="col-md-9">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">{{ posting.title }}</h4>
                                    <div style="text-align: right">
                                        <p class="card-text">
                                        <h5 class="card-title">{{posting.author}}</h5>
                                        <h5 style="font-size: small">{{ posting.created_at }}</h5>
                                        <h5 style="font-size: small">{{ posting.updated_at|timesince }}전</h5>
                                        </p>
                                        {% if posting.author == user %}
                                        <button type="button" class="badge rounded-pill bg-danger"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            수정
                                        </button>
                                        <a href="/api/posts/delete/{{posting.id}}">
                                            <span class="badge rounded-pill bg-danger">삭제</span>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="media">
                                        <div class="media-bod">
                                            <h5 class="mt-0">{{ posting.content }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- 댓글 작성 하는 곳 -->
                    <form class="input-group mb-3" action="/api/posts/comment/{{posting.id}}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" id='comment' name='comment' placeholder="댓글을 작성해주세요" />
                        <button class="btn btn-outline-secondary" type="submit">작성</button>
                    </form>
                    <hr>
                    <!-- 반복문이 들어 갈 곳 -->
                    {% for cm in comment %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0"> {{ cm.comment }} </h5>
                                </div>
                                <div style="float: right">
                                    <span style="font-size: small">
                                        {{ cm.author }} - {{ cm.created_at | timesince }}전
                                    </span>
                                </div>
                                <br>
                                {% if cm.author == user %}
                                <div style=" float: right">
                                    <a href="/api/posts/comment/delete/{{cm.id}}">
                                        <span class="badge bg-danger">삭제</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <!-- 반복문이 끝난 곳 -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}