<!-- templates/tweet/home.html -->
{% extends 'posting/base_profile.html' %}
{% block title %}Home{% endblock %}
{% block new_content %}
    <div class="col-md-7">
        {% if user.is_authenticated %}
            <button type="button"
                    class="btn btn-primary"
                    onclick="location.href='/api/posts/edit/0'">글쓰기</button>
        {% endif %}
        <hr>
        <!-- 작성 된 글이 나오는 곳 -->
        <div class="row">
            {% for ps in post_list %}
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class='text-muted'>{{ ps.category }}</h6>
                            {% if user == ps.author %}
                                <div style="text-align: right">
                                    <a href="/api/posts/delete/{{ ps.id }}">
                                        <span class="badge rounded-pill bg-danger">삭제</span>
                                    </a>
                                </div>
                            {% endif %}
                            <div style="text-align: right">
                                <a href="/api/posts/{{ ps.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ ps.title }}</h5>
                                    <p>{{ ps.content|slice:":15" }}...</p>
                                </div>
                                <div style="text-align: right">
                                    <span style="font-size: small">{{ ps.author.username }}-{{ ps.created_at|timesince }} 전</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--페이지네이션 시작-->
            <div style="text-align:center">
                <ul class="pagination">
                    <div style="width:35%; margin: 5px;">
                        {% if post_list.has_previous %}
                            <a class="abutton"
                               href="?category={{ request.GET.category }}&subscribed={{ request.GET.subscribed }}&page=1">맨 앞으로</a>
                            <a class="abutton"
                               href="?category={{ request.GET.category }}&subscribed={{ request.GET.subscribed }}&page={{ post_list.previous_page_number }}">이전</a>
                        {% endif %}
                    </div>
                    <div style="width:30%; margin: 5px;">
                        {% for page in post_list.paginator.page_range %}
                            {% if page >= post_list.number|add:-2 and page <= post_list.number|add:2 %}
                                <span class="{% if page == post_list.number %}current{% endif %}">
                                    <a href="?category={{ request.GET.category }}&subscribed={{ request.GET.subscribed }}&page={{ page }}">{{ page }}</a>
                                </span>
                            {% elif page >= post_list.number|add:-3 and page <= post_list.number|add:3 %}
                                ..
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div style="width:35%; margin: 5px;">
                        {% if post_list.has_next %}
                            <a class="abutton"
                               href="?category={{ request.GET.category }}&subscribed={{ request.GET.subscribed }}&page={{ post_list.next_page_number }}">다음</a>
                            <a class="abutton"
                               href="?category={{ request.GET.category }}&subscribed={{ request.GET.subscribed }}&page={{ post_list.paginator.num_pages }}">맨 뒤로</a>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
