{% extends 'posting/base_profile.html' %}
{% block title %}게시글 수정하기{% endblock %}
{% block new_content %}
    <!--글수정하는 곳-->
    <div class="col-md-9">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
                                {% if posting.id %}
                                    <form class="input-group mb-3"
                                          action="/api/posts/edit/{{ posting.id }}"
                                          method="post"
                                          enctype="multipart/form-data">
                                    {% else %}
                                        <form class="input-group mb-3" action="/api/posts/edit/0" method="post" enctype="multipart/form-data">
                                        {% endif %}
                                        {% csrf_token %}
                                        <div class="container timeline-container">
                                            <h5 class="mt-0" type="text" name="author">Author: {{ posting.author }}</h5>
                                            <br>
                                            <label for="title">Title:</label>
                                            <input class="input_field"
                                                   type="text"
                                                   name="title"
                                                   value="{{ posting.title }}">
                                            <br>
                                            <br>
                                            <label for="category">Category:</label>
                                            <select class="form-select"
                                                    aria-label="Default select example"
                                                    name="category">
                                                <option selected value="{{ posting.category }}">{{ posting.category }}</option>
                                                <option value="recipe">recipe</option>
                                                <option value="recommend">recommend</option>
                                                <option value="chat">chat</option>
                                            </select>
                                            <label for="content">Content:</label>
                                            <br>
                                            <textarea class="form-control" style="resize: none" name="content" rows="18">{{ posting.content }}</textarea>
                                            <br>
                                            Saved Images: {% if posting.embed.all.count == 0 or posting.id == None %} None. 
                                            {% else %}
                                            {% for img in posting.embed.all %}
                                            <div class="form-group">
                                                <img src="{{ img.image.url }}" width="50" height="50">
                                                <input type="checkbox" id="{{img.id}}" name="{{img.id}}">
                                                <label for="{{img.id}}">Delete {{img.url|slice:"12:"}} Image</label>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            
                                            <div class="form-group mt-2 mb-2">
                                                <label for="images">Post image:</label>
                                                <input type="file" class="form-control" id="images" name="images" multiple>
                                            </div>
                                            
                                            <br>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
