{% extends 'base.html' %}
{% block title %}{{ profile.username }}'s profile{% endblock %}
{% block content %}
<div class="row">
    <!-- 왼쪽 컬럼 -->
    <div class="col-md-5">
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <h3>Doyou wanna delete your Account, {{ user.username }}?</h3>
                <h5>Enter your Password.</h5>
                <form method='post' action="/api/user/delete/">
                    {% csrf_token %}
                    <div class="form-group mt-2 mb-2">
                        <label for="password">PW</label>
                        <input class="col-md-3" type="password" class="form-control" id="password" name="password">
                        {%if error %}<div class="alert alert-danger" role="alert">{{error}}</div>{% endif %}
                    </div>

                    <div style="float: right">
                        <button type="submit" class="btn btn-primary">Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}