{% extends 'base.html' %}

{% block title %}
회원가입
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap">
        <h2 class="title-center"> Sign_Up </h2>
        <form class="form-area" method="post" action="/api/user/signup/">
            {% csrf_token %}
            <div class="form-group mt-2 mb-2">
                <label for="username">ID :</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="email">e-mail :</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">PW :</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password2">rewrite PW :</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <hr>
            <div style="float: right">
                <button type="submit" class="btn btn-primary">sign up</button>
            </div>
            <a href="/api/user/login/" class="btn btn-secondary">log in</a>
        </form>
    </div>
</div>
{% endblock %}